# Railway Configuration File
# https://docs.railway.app/deploy/config-as-code

[build]
builder = "nixpacks"

[deploy]
startCommand = "java -jar build/libs/users-0.0.1-SNAPSHOT.jar"
restartPolicyType = "on_failure"
restartPolicyMaxRetries = 10
